
#website-title {
    font-family: "Tusker", sans-serif; /* Use the imported font */
    font-size: 70px;
    font-weight: 900;
    text-transform: uppercase;
}





/* ----------------------------------------- VIDEO CSS ---------------------------------------------------------*/

#video-section {
    position: relative;
    width: 100%;
    height: 100vh; /* Set height to viewport height */
    overflow: hidden; /* Hide overflowing content */
}

#state-college-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Cover the entire area of its container */
    object-fit: cover; /* Ensure the video covers the container while maintaining aspect ratio */
}


#state-college-video {
    pointer-events: none;
}

.video-container {
    position: relative;
    z-index: 1; /* Set a lower z-index value */
}

#state-college-video {
    filter: brightness(30%); /* Adjust the brightness percentage as needed */
}

.image-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -5%);
}

.image-overlay img {
    max-width: 50%; /* Adjust the size of the image */
    max-height: 50%; /* Adjust the size of the image */
}





.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the minmax values as needed */
    gap: 20px; /* Adjust the gap between images as needed */
}

/* Style for each grid item */
.image-grid-item {
    text-align: center;
}

    /* Style for the images */
.image-grid-item img {
    max-width: 150%;
    height: auto;
    border-radius: 8px; /* Optional: add border-radius for a rounded corner effect */
}







header {
    font-family: Georgia, serif;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    width: 100%; /* Ensure the header covers the entire width of the page */
}






.content {
    text-align: center; /* Center-align the content */
    position: relative; /* Set position to relative */
    margin-top: 0px; /* Add margin space at the top */
}

.content img {
    position: absolute; /* Set position to absolute */
    top: 50%; /* Position the image vertically at 50% from the top */
    right: 0; /* Position the image flush with the right side of the container */
    transform: translateY(-57%); /* Adjust the image position vertically to center it */
    max-width: 100%; /* Ensure the image doesn't exceed its container width */
    height: auto; /* Maintain aspect ratio */
    padding:50px;
}












/* Apply basic styling to the navigation bar */
.navbar {
    position: fixed; /* Position the navbar fixed at the top */
    top: 0; /* Align the navbar to the top of the viewport */
    width: 100%; /* Make the navbar full-width */
    background-color: #242424; /* Background color for the navbar */
    padding: 20px 0; /* Add padding to the navbar */
    text-align: center; /* Align buttons to the center */
    z-index: 100;

}
/* Apply styling to individual buttons */
.navbar button {    

    border: none; /* Remove button borders */
    padding: 10px 20px; /* Add padding to the buttons */
    margin: 0 10px; /* Add margin between buttons */
    cursor: pointer; /* Show pointer cursor on hover */
    font-family: "Tusker", sans-serif; /* Use the imported font */
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;  
}

/* Apply hover effect to buttons */
.navbar button:hover {
    background-color: white; /* Change background color on hover */
    color: black; /* Change text color on hover */
}


.button-container {
    margin: 0 auto; /* Center the container horizontally */
}

.btn {
    text-align: center;
    border: none;
    color: white;
    padding: 20px 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 20px;
    cursor: pointer;
    border-radius: 10px;
}








body {
    background-color: #242424;
}


#documented-runs {
    padding: 20px; /* Add padding to the section */
    text-align: center; /* Center-align section content */
    color: #ffd795;
    font-family: "Tusker", sans-serif; /* Use the imported font */
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
}

#documented-runs h2 {
    margin-bottom: 50px; /* Add margin below the heading */
    color: #ffd795;
    font-family: "Tusker", sans-serif; /* Use the imported font */
    font-size: 90   px;
    font-weight: 900;
    text-transform: uppercase;
}






.menu-toggle {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-285%);
    padding: 32px;
    cursor: pointer;
    z-index: 1001; /* Ensure the icon appears above other content */
}

.menu-toggle .bar {
    width: 60px; /* Increase the width */
    height: 10px; /* Increase the height */
    margin: 6px 0; /* Adjust the margins */
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 4px 0;
    transition: 0.4s;
}











/* ------------------------------------------------------TABLE CSS-------------------------------------------------------- */




#documented-runs table {
    font-family: Georgia, serif; /* Set font to Georgia serif */
    border-collapse: collapse; /* Collapse table borders */
    width: 80%; /* Make the table width 100% of its container */
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate; /* Ensure borders are separate */
    border-spacing: 100px; /* Adjust the spacing between columns */
}


#documented-runs th, #documented-runs td {
    padding: 10px; /* Add padding to table cells */
    border-bottom: 1px solid #ccc; /* Add a border between table rows */
}

#documented-runs th {
    font-size:30px;
    padding: 10px; /* Add padding to table header cells */
    border-bottom: 2px solid #333; /* Add a thicker border line below table header cells */
}

#documented-runs td {
    color: #ffffff;
    font-size: 25px;
}



.routename {
    color: rgb(216, 216, 255); /* Example color for routename */
    font-size: 30px; /* Example font size for routename */
}

.routelength {
    color: rgb(61, 255, 61); /* Example color for routelength */
    font-size: 40px; /* Example font size for routelength */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}




#video-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set the height of the container to the viewport height */
    color: white; /* Set text color */
}

#state-college-video {
    width: 100%;
    height: auto;
}

#website-title {
    position: absolute;
    /* text-align: center; */
    top: 28%;
    /* left: 50%; */
    /* transform: translate(-50%, -20%); */
    font-size: 160px;           
}









.card-wrapper {
    width: 40%; /* Adjust the width as needed */
    margin: 60px;
    display: inline-block;
    transition: transform 10s ease, box-shadow 1s ease;
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 490px;
}

.card-img-top {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 1s ease;
}





.card-title {
    font-size: 1rem; /* Adjust the font size as needed */
    margin-bottom: 0.3rem;
}


.card-body {
    padding: 20px; /* Adjust the padding as needed */
}

.card-text {
    margin-bottom: 0.5rem; /* Adjust the margin as needed */
}

.btn {
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: 0.3rem 0.7rem; /* Adjust the padding as needed */
    border-radius: 0.25rem;
}

.btn:hover {
    color: #ffffff;
    background-color: #000000;
    border-color: #ffffff;
}

/*

.card-wrapper:hover::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1000;
}



.card-wrapper:hover .card {
    z-index: 2000;
}


.card:hover {
    transform: scale(1.2);
    width: 40%;
    height: 120vh;
    z-index: 2; 
    position: fixed; 
    top: 20%; 
    left: 30%; 
}


*/


.runs-header {
    padding: 40px;
    color: #ffffff;
    text-align: center;
    font-size: 60px;
}






/* -------------------------------------------------------FOOTER CSS---------------------------------------------- */


footer {
    color: #ffffff; /* Change the font color to dark gray */
}


/* Adjust the size and position of the "More Info" button */
.js-runroute-summary .more-info-btn {
    font-size: 12px; /* Adjust the font size */
    padding: 5px 10px; /* Adjust the padding */
    text-align: left;
}

/* Align the "More Info" button to the left column */
.js-runroute-summary td:first-child {
    text-align: left;
}
