
#website-title {
    font-family: "Tusker", sans-serif; /* Use the imported font */
    font-size: 70px;
    font-weight: 900;
    text-transform: uppercase;
}





/* ----------------------------------------- VIDEO CSS ---------------------------------------------------------*/

#video-section {
    position: relative;
    width: 100%;
    height: 100vh; /* Set height to viewport height */
    overflow: hidden; /* Hide overflowing content */
}

#state-college-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Cover the entire area of its container */
    object-fit: cover; /* Ensure the video covers the container while maintaining aspect ratio */
}


#state-college-video {
    pointer-events: none;
}

.video-container {
    position: relative;
    z-index: 1; /* Set a lower z-index value */
}

#state-college-video {
    filter: brightness(30%); /* Adjust the brightness percentage as needed */
}

.image-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -5%);
}

.image-overlay img {
    max-width: 50%; /* Adjust the size of the image */
    max-height: 50%; /* Adjust the size of the image */
}





.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the minmax values as needed */
    gap: 20px; /* Adjust the gap between images as needed */
}

/* Style for each grid item */
.image-grid-item {
    text-align: center;
}

    /* Style for the images */
.image-grid-item img {
    max-width: 150%;
    height: auto;
    border-radius: 8px; /* Optional: add border-radius for a rounded corner effect */
}







header {
    font-family: Georgia, serif;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    width: 100%; /* Ensure the header covers the entire width of the page */
}






.content {
    text-align: center; /* Center-align the content */
    position: relative; /* Set position to relative */
    margin-top: 0px; /* Add margin space at the top */
}

.content img {
    position: absolute; /* Set position to absolute */
    top: 50%; /* Position the image vertically at 50% from the top */
    right: 0; /* Position the image flush with the right side of the container */
    transform: translateY(-57%); /* Adjust the image position vertically to center it */
    max-width: 100%; /* Ensure the image doesn't exceed its container width */
    height: auto; /* Maintain aspect ratio */
    padding:50px;
}












/* Apply basic styling to the navigation bar */
.navbar {
    position: fixed; /* Position the navbar fixed at the top */
    top: 0; /* Align the navbar to the top of the viewport */
    width: 100%; /* Make the navbar full-width */
    background-color: #242424; /* Background color for the navbar */
    padding: 20px 0; /* Add padding to the navbar */
    text-align: center; /* Align buttons to the center */
    z-index: 100;

}
/* Apply styling to individual buttons */
.navbar button {    

    border: none; /* Remove button borders */
    padding: 10px 20px; /* Add padding to the buttons */
    margin: 0 10px; /* Add margin between buttons */
    cursor: pointer; /* Show pointer cursor on hover */
    font-family: "Tusker", sans-serif; /* Use the imported font */
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;  
}

/* Apply hover effect to buttons */
.navbar button:hover {
    background-color: white; /* Change background color on hover */
    color: black; /* Change text color on hover */
}


.button-container {
    margin: 0 auto; /* Center the container horizontally */
}

.btn {
    text-align: center;
    border: none;
    color: white;
    padding: 20px 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 20px;
    cursor: pointer;
    border-radius: 10px;

}




#menuToggle {
    display: block;
    position: fixed;
    top: 25px; /* Adjust the top position as needed */
    left: 35px; /* Adjust the left position as needed */
    z-index: 1001;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#menuToggle span {
    display: block;
    width: 40px;
    height: 4px;
    margin-bottom: 5px;
    padding: 3px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 200px;
    height: 1000px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #000000;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menuToggle input:checked ~ #menu {
    transform: none;
}



#overlay {  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
    z-index: 1000; /* Ensure the overlay appears above other content */
    display: none; /* Initially hide the overlay */
}



#menuToggle input:hover ~ span {
    background-color: rgb(0, 119, 255); /* Change the background color on hover */
}




















body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}


#documented-runs {
    padding: 20px; /* Add padding to the section */
    text-align: center; /* Center-align section content */
    color: #ffd795;
    font-family: "Tusker", sans-serif; /* Use the imported font */
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
}

#documented-runs h2 {
    margin-bottom: 50px; /* Add margin below the heading */
    color: #ffd795;
    font-family: "Tusker", sans-serif; /* Use the imported font */
    font-size: 90   px;
    font-weight: 900;
    text-transform: uppercase;
}






.menu-toggle {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-285%);
    padding: 32px;
    cursor: pointer;
    z-index: 1001; /* Ensure the icon appears above other content */
}

.menu-toggle .bar {
    width: 60px; /* Increase the width */
    height: 10px; /* Increase the height */
    margin: 6px 0; /* Adjust the margins */
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 4px 0;
    transition: 0.4s;
}











/* ------------------------------------------------------TABLE CSS-------------------------------------------------------- */




#documented-runs table {
    font-family: Georgia, serif; /* Set font to Georgia serif */
    border-collapse: collapse; /* Collapse table borders */
    width: 80%; /* Make the table width 100% of its container */
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate; /* Ensure borders are separate */
    border-spacing: 100px; /* Adjust the spacing between columns */
}


#documented-runs th, #documented-runs td {
    padding: 10px; /* Add padding to table cells */
    border-bottom: 1px solid #ccc; /* Add a border between table rows */
}

#documented-runs th {
    font-size:30px;
    padding: 10px; /* Add padding to table header cells */
    border-bottom: 2px solid #333; /* Add a thicker border line below table header cells */
}

#documented-runs td {
    color: #ffffff;
    font-size: 25px;
}



.routename {
    color: rgb(216, 216, 255); /* Example color for routename */
    font-size: 30px; /* Example font size for routename */
}

.routelength {
    color: rgb(61, 255, 61); /* Example color for routelength */
    font-size: 40px; /* Example font size for routelength */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}




#video-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set the height of the container to the viewport height */
    color: white; /* Set text color */
}

#state-college-video {
    width: 100%;
    height: auto;
}

#website-title {
    position: absolute;
    /* text-align: center; */
    top: 28%;
    /* left: 50%; */
    /* transform: translate(-50%, -20%); */
    font-size: 160px;           
}









.card-wrapper {
    width: 40%; /* Adjust the width as needed */
    margin: 60px;
    display: inline-block;
}

.card {
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 490px;
    transition: transform 2s ease;
}

.card-img-top {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 10s ease;
}





.card-title {
    font-size: 25px; /* Adjust the font size as needed */
    margin-bottom: 0.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
}


.card-body {
    padding: 15px; /* Adjust the padding as needed */
}

.card-text {
    margin-bottom: 0.5rem; /* Adjust the margin as needed */
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn {
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: 0.3rem 0.7rem; /* Adjust the padding as needed */
    border-radius: 0.25rem;
}

.btn:hover {
    color: #ffffff;
    background-color: #000000;
    border-color: #ffffff;
}




.card-wrapper:hover::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); 
    z-index: 1000;
}


.card-wrapper:hover .card {
    z-index: 2000;
}


.card:hover {
    transform: scale(1.2);
    width: 40%;
    height: 120vh;
    z-index: 2; 
    position: fixed; 
    top: 15%; 
    left: 30%; 
}





.runs-header {
    background-color: #000000; /* Blue background color */
    color: #fff; /* White text color */
    padding: 20px; /* Padding around the header */
    font-family: 'Tusker', sans-serif; /* Custom font */
    font-size: 55px; /* Custom font size */
    text-align: center; /* Center align text */
    margin-bottom: 0px; /* Add some space below the header */
    margin-top: 140px; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Add shadow effect */
    animation: fadeInUp 6s ease; /* Animation effect */
    text-transform: uppercase; /* Transform text to uppercase */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}




/* -------------------------------------------------------FOOTER CSS---------------------------------------------- */





/* Adjust the size and position of the "More Info" button */
.js-runroute-summary .more-info-btn {
    font-size: 12px; /* Adjust the font size */
    padding: 5px 10px; /* Adjust the padding */
    text-align: left;
}

/* Align the "More Info" button to the left column */
.js-runroute-summary td:first-child {
    text-align: left;
}



footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
}

/* Remaining CSS styles remain the same */


.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footer-section {
    flex: 1;
    padding: 0px;
}

.footer-section h3 {
    margin-bottom: 0px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 0px;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
}

.footer-section p {
    margin: 0px;
}
